@import url(https://fonts.googleapis.com/css?family=Lato:300,400&display=swap);

@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);


.nav-logo {
    width: 35%;
    height: auto;

}

.logo {
  text-align:center;
}
body {l;
    background-color: #43cfec;
}

header {
    
    background-color: #43cfec;
    width: auto;
}

a {
    color: #ffffff;
    text-decoration: none;
}

h1 {
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 800;
}

nav {
    display: flex;
    padding: 5px 5px 5px 5px;
    justify-content: flex-end;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}


#item1 , #item2, #item3 {
    padding-right: 10px;
    padding-left: 7px;
}


p {
    color: #ffffff;
    text-align: center;
    font-family: Lato;
    font-weight: 400;
}

.page-title {
    text-align: center;
}

h3 {
    color: #ffffff;
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;

.hidden {
    display: none;

}