.nav-logo {
    width: 15%;
    height: auto;

}

.logo {
  text-align:center;
}
body {
    background-color: #43cfec;
}

header {
    
    background-color: #43cfec;
    width: auto;
}

a {
    color: #ffffff;
    text-decoration: none;
}

nav {
    display: flex;
    padding: 5px 5px 5px 5px;
    justify-content: flex-end;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}


#item1 , #item2, #item3 {
    padding-right: 10px;
    padding-left: 7px;
}

.hidden {
    display: none;
}