/* Tablet */
.wrapper {
    max-width: 1024px;
    margin: 0 auto; 
    display: grid;
    grid-template-areas: 
    "header"
    "sidebar"
    "content"
}


@media(min-width: 600px) {

    .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        " header header header"
        "  . content . "
    }  
}

    
    /* Desktop */
@media(min-width: 900px) { 
.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    " header header header"
    "  . content . "
    }
}
    
.header {
    grid-area: header;
  }
.main {
    grid-area: main;
}
  .sidebar {
    grid-area: sidebar;
}