/* Tablet */
.wrapper {
    max-width: 1024px;
    margin: 0 auto; 
    display: grid;
    grid-template-areas: 
    "header"
    "sidebar"
    "content"
}


@media(min-width: 600px) {
    .wrapper {

    display:grid;
    grid-template:
    [row1-start] "header header "  [row1-end]
    [row2-start] "sidebar content " [row2-end]
    /1fr 1fr ;
}
.nav-logo{
    min-height: 200px;
    min-width: 300px;
    max-height: 300px;
    max-width: 200px;
}

    
    /* Desktop */
@media(min-width: 900px) { 
.wrapper {
    display:grid;
    grid-template:
    [row1-start] "header header "  [row1-end]
    [row2-start] "sidebar content " [row2-end]
    /1fr 1fr ;

}
.nav-logo{
    max-height: 300px;
    max-width: 200px;
}


}
    
.header {
    grid-area: header;
  }
.nags-ul {
    grid-area: content;
}
.sidebar {
    grid-area: sidebar;
}
}