/* Tablet */
.wrapper {
    max-width: 1024px;
    margin: 0 auto; 
    display: grid;
    grid-template-areas: 
    "header"
    "sidebar"
    "content"
}


@media(min-width: 600px) {
    .wrapper {

    display:grid;
    grid-template:
    [row1-start] "header header header"  [row1-end]
    [row2-start] "sidebar content content" [row2-end]
    /1fr 1fr 1fr;
}

    
    /* Desktop */
@media(min-width: 900px) { 
.wrapper {
    display:grid;
    grid-template:
    [row1-start] "header header header"  [row1-end]
    [row2-start] "sidebar content content" [row2-end]
    /1fr 1fr 1fr;
}
    .sidebar {
        height: auto;
        width: 350px;
    }
    .nags-ul{
        background-color: black;
        width: 500px;
        height: 100px;
    }
}
    
.header {
    grid-area: header;
  }
.nags-ul {
    grid-area: content;
}
.sidebar {
    grid-area: sidebar;
}
}