@import url(https://fonts.googleapis.com/css?family=Montserrat:700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);


p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

button{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    border: 0.3px solid black;
    
}

input{
    border: 0.3px solid black;
}

.add-nag-div {
   
    margin-bottom: 20px;
}

button {
    border-radius:20px
}

.buttonClear{
    border-radius:20px;
    padding-bottom:5px;
}