form {
    max-width: 400px;
}

main p.switch, main p.errors {
    margin-top: 20px;
    text-align: center;
}

.errors {
    font-family: monospace;
    color: red;
}

.no-display {
    display: none;
}


.section {
    background-color: whitesmoke;
    border: solid 1px black;
    width: 300px;
    height: 200px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.signup-container{
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.signin-container{
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    border:1px black solid;
}

.auth-form {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}