form {
    max-width: 400px;
}

main p.switch, main p.errors {
    margin-top: 20px;
    text-align: center;
}

.errors {
    font-family: monospace;
    color: red;
}

.no-display {
    display: none;
}